USE [master]
GO
/****** Object:  Database [ITLA]    Script Date: 03/12/2020 17:07:53 ******/
CREATE DATABASE [ITLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITLA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ITLA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITLA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ITLA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITLA]
GO
/****** Object:  Table [dbo].[AULAS]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AULAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDIFICIO] [int] NULL,
	[PLANTA] [varchar](30) NULL,
	[NOMBRE] [varchar](30) NULL,
	[ESTADO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDIFICIOS]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDIFICIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[ESTADO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APELLIDO] [varchar](30) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[USUARIO] [varchar](30) NULL,
	[CONTRA] [varchar](30) NULL,
	[ROL] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AULAS]  WITH CHECK ADD FOREIGN KEY([ID_EDIFICIO])
REFERENCES [dbo].[EDIFICIOS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGARUSUARIO]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_AGREGARUSUARIO]
@NOMBRE VARCHAR(30),
@APELLIDO VARCHAR(30),
@FECHANACIMIENTO DATETIME,
@USUARIO VARCHAR(30),
@CONTRA VARCHAR(30),
@ROL VARCHAR(30)
AS
INSERT INTO USUARIOS VALUES(@NOMBRE, @APELLIDO, @FECHANACIMIENTO, @USUARIO, @CONTRA, @ROL)
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARUSUARIO]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCARUSUARIO]
@LIKE VARCHAR(30)
AS 
SELECT * FROM USUARIOS WHERE NOMBRE like @LIKE + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITARUSUARIO]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EDITARUSUARIO]
@ID INT,
@NOMBRE VARCHAR(30),
@APELLIDO VARCHAR(30),
@FECHANACIMIENTO DATETIME,
@USUARIO VARCHAR(30),
@CONTRA VARCHAR(30),
@ROL VARCHAR(30)
AS
UPDATE USUARIOS SET NOMBRE = @NOMBRE, APELLIDO = @APELLIDO, FECHA_NACIMIENTO = @FECHANACIMIENTO, USUARIO = @USUARIO, CONTRA = @CONTRA, ROL = @ROL
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARUSUARIO]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINARUSUARIO]
@ID INT
AS
DELETE FROM USUARIOS WHERE ID = @ID 
GO
/****** Object:  StoredProcedure [dbo].[SP_INGRESAR]    Script Date: 03/12/2020 17:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INGRESAR]
@USUARIO VARCHAR(50),
@CONTRA VARCHAR(50)
AS
SELECT * FROM USUARIOS WHERE USUARIO = @USUARIO AND CONTRA = @CONTRA
GO
USE [master]
GO
